@import "normalize.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$color-high-text: #ff5777;
$color-background-pink:  #ff8198;
$color-background-white:#fff;
/*:root -> 获取根元素html*/
body,
html {
  font-family: -apple-system, "MIUI";
  width: 100%;
  height: 100%;
  color: #666666;
  background: #ffffff;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: #666666;
}

.clear-fix:after {
  font-size: 0;
  display: block;
  clear: both;
  height: 0;
  content: "";
}

.arrow-right {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 0.1rem;
  transform: rotate(135deg);
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  background-color: transparent;
}

.left {
  float: left;
}

.right {
  float: right;
}

#app {
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
